provider:
  name: aws

sources:
  - service
  - ingress
  - gateway-httproute

txtOwnerId: retail-store-grp5

serviceAccount:
  create: true
  name: external-dns
  annotations:
    eks.amazonaws.com/role-arn: {{ printf "arn:aws:iam::%s:role/retail-store-grp5-external-dns-irsa" (requiredEnv "AWS_ACCOUNT_ID") | quote }}

podSecurityContext:
  fsGroup: 65534

containerSecurityContext:
  runAsNonRoot: true
  runAsUser: 65534
  readOnlyRootFilesystem: true